body {
    font-family: Arial, Helvetica, sans-serif;
}

.our-profile {
    border: 2px solid black;
    border-bottom: none;
    padding: 24px;
    background-color:  rgba(235, 235, 235, 0.87);
}

.message-us {
    border: 2px solid black;
    padding: 24px;
    background-color:  rgba(235, 235, 235, 0.918);
}   
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    border-bottom: none;
    padding: 16px 24px;
}

.header-wrapper > .menu {
    display: flex;
}

.header-wrapper > .menu > a {
    background-color: rgb(102, 169, 245);
    padding: 8px 16px;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.3s background-color ease-out;
    border-style:double;
}

.header-wrapper > .menu >  a:hover {
    background-color: rgb(102, 169, 245);
}

.header-wrapper > .menu > a:first-child {
    border-radius: 4px 0 0 4px;
}

.header-wrapper > .menu > a :last-child {
    border-radius: 0 4px 4px 0;
}

.header-wrapper > .menu > a {
    text-align: center;
    background-color: rgb(102, 169, 245);
    text-decoration: none;
    font-style: normal;
    color: black;
}

.header-wrapper > .logo {
    width : auto;
    height : 60px;
}

.main-content {
    padding: 24px;
}
.main-content > p {
    text-align: justify;
}
.main-content .form-section {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}

.main-content .form-section form,
.main-content .form-section div {
    width: 100%;
}
.img-slideshow {
    width: 100%;
    height: 100%;
}
@media only screen and (max-width: 600px) {
    .header-wrapper {
        flex-direction: column;
    }

    .menu {
        width: 100%;
        flex-direction: column;
    }

    .logo {
        margin-bottom: 14px;
    }
    div.our-office {
        flex-direction: column;
        align-items: center;

    }
    div.our-profile {
        flex-direction: column;
        align-items: center;
    }
    form {
        width: 100%;
        flex-direction: column;
    }

    
}

div.our-office {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    padding: 24px;
}


main {
    background-color:  rgb(235, 235, 235);
    border: 2px solid black;
    border-bottom: none;
}

.circle-image {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat:  no-repeat;
}

header {
    background-color: rgb(165, 200, 240);
}

.table-form, td {
    text-align: left;
    height: 40px;
}
.table-submit, td {
    text-align: left;
    height: 40px;
}


form {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}


footer > p {
    text-align: end;
    padding: 2em;
    background-color: rgb(102, 169, 245);
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
}